SelvaRebornProject/.vs/
SelvaRebornProject/Library/
SelvaRebornProject/Temp/
SelvaRebornProject/obj/
SelvaRebornProject/.vsconfig
SelvaRebornProject/SelvaRebornProject.sln
SelvaRebornProject/Logs/
SelvaRebornProject/Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
